#form{
    height: 60%;
    width: 50%;
}

#inputLabel{
    height: 29px;
    width: 400px;
    margin: 16% 3% 1% 11%;
    font-size: 24px;
    color: white;
}

#showError{
    color: red;
    margin: 1% 0% 0% 35%;
    width: 100%;
}

#input{
    width: 87%;
    padding: 12px 20px;
    margin: 25px -53px 0px -59px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

#submitBtn{
    padding: 6px 28px;
    font-size: 23px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5% -19% 0% -19%;

  }

#container{

    width: 39%;
    padding: 12px 20px;
    margin: 172px 1px 0px 414px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    height: 379px;
    background-color: black;
    text-align: center;

}